<html lang="en">

<head>
    <link rel="icon" type="text/x-icon" href="/Pic/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg">
    <div class="container">
        <div class="menu">
            <img src="/Pic/menu01.png"  class="menu img">
            <button type="button" class="btn btn-primary btn-sm" style="right: 280px;"><a href="DangKiLamGiaSu.html">Đăng kí làm gia sư</a></button>
            <button type="button" class="btn btn-primary btn-sm" style="right: 200px;"><a href="DangNhap.html">Admin</a></button>
            
            <nav class="custom-nav">
                <ul class="nav-list">
                  <li class="nav-item"><a href="TrangChu.html">TRANG CHỦ</a></li>
                  <li class="nav-item"><a href="GiaThamKhao.html">GIÁ THAM KHẢO</a></li>
                  <li class="nav-item" style="background-color: #ff7f50"><a href="DanhChoPhuHuynh.html">DÀNH CHO PHỤ HUYNH</a></li>
                  <li class="nav-item"><a href="CacLopHienCo.html">CÁC LỚP HIỆN CÓ</a></li>
                  <li class="nav-item"><a href="GioiThieuGiaSu.html">GIỚI THIỆU GIA SƯ</a></li>
                  <li class="nav-item"><a href="YKien.html">Ý KIẾN</a></li>
                </ul>
              </nav>
              
            <div class="noidung">
                <p style="padding-top: 50px;">
                    “Giáo dục là vũ khí mạnh nhất mà người ta có thể sử dụng để thay đổi cả thế giới” (N.Mandela). Học hành là một việc rất quan trọng đặc biệt trong một xã hội phát triển như hiện nay, là cơ hội để mọi người thay đổi vận mệnh đời mình, hướng tới một cuộc sống tốt đẹp hơn. Bởi vậy, không có gì khó hiểu khi nhiều bậc phụ huynh lại đặc biệt quan tâm đến việc học của con. Nhiều bố mẹ đã dành ra một khoản chi phí lớn để đầu tư vào chuyện học hành cho con: mua sách vở, sắm sửa máy tính, laptop, phương tiện di chuyển, học thêm,… Đặc biệt, nhiều bố mẹ đã mạnh tay đầu tư thời gian và tiền bạc vào việc tìm gia sư cho con. Tuy nhiên, để có thể giúp con tiến bộ trong học tập các bậc phụ huynh cần phải biết một số kinh nghiệm tìm gia sư, tránh tiền mất tật mang.
                </p>
                <img src="/Pic/nddanhchophuhuynh.jpg" class="imgnd">
                <h5>
                    Học gia sư có đem lại hiệu quả cao?
                </h5>
                <p>
                    Câu trả lời là có nếu phụ huynh tìm được một gia sư giỏi, có chuyên môn tốt. Hiện nay, nhu cầu thuê gia sư không ngừng tăng, điều này cho thấy học gia sư chắc chắn đem lại hiệu quả như học trên lớp và nhiều phụ huynh vẫn tin dùng cách học này.

                    Muốn đạt được kết quả tốt phải trải qua một thời gian dài khổ luyện, chăm chỉ, cố gắng, nỗ lực. Mọi người không thể nhìn nhận, đánh giá kết quả chỉ sau 2, 3 buổi học thêm được. Chưa kể đó là mỗi em một khả năng nhận thức, tiếp thu riêng, tính cách riêng.

                    Để việc học gia sư thật sự hiệu quả phải có sự phối hợp, tương tác giữa gia sư và học sinh. Nếu gia sư nhiệt tình giảng bài mà học sinh không nghe, phớt lờ lời nói của anh chị gia sư thì không thể đem lại kết quả tốt. Gia sư đã tốn hàng giờ để đọc và soạn bài tập về nhà cho các em mà các em không chịu làm thì không thể nào nắm và nhớ được kiến thức. Ngược lại, học sinh tích cực học hành mà gia sư thiếu trách nhiệm, dạy không đến nơi đến chốn, chán dạy thì cũng không thể đạt được hiệu quả cao. Bởi vậy, các bậc phụ huynh nên nhìn nhận, đánh giá từ hai phía để điều chỉnh lại học sinh, gia sư sao cho phù hợp hơn.
                </p>
                
                
                <button type="button" class="button btn-primary btn-sm" style="right: 280px;"><a href="DangKiLopHoc.html">Đăng kí lớp học ngay</a></button>

            </div>

            <div class="footer">
                <div class="footer container">
                    <h5>Liên hệ</h5>
                    <p>Email: trungtamgiasundt@gmail.com <br>
                    Số điện thoại: 0123456789 <br>
                    Địa chỉ: 1 Võ Văn Ngân, Linh Trung, Thủ Đức <br>
                    </p>
                    <div style="text-align: center; ">
                        <p>© 2023 Bản quyền thuộc về Nhóm 5 DACNTT</p>
                    
                    </div>
                </div>
                

            </div>
        
        </div>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>