<html lang="en">

<head>
    <link rel="icon" type="text/x-icon" href="/Pic/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg">
    <div class="container">
        <div class="menu">
            <img src="/Pic/menu01.png"  class="menu img">
            <button type="button" class="btn btn-primary btn-sm" style="right: 280px;"><a href="DangKiLamGiaSu.html">Đăng kí làm gia sư</a></button>
            <button type="button" class="btn btn-primary btn-sm" style="right: 200px;"><a href="DangNhap.html">Admin</a></button>
            
            <nav class="custom-nav">
                <ul class="nav-list">
                  <li class="nav-item" style="background-color: #ff7f50"><a href="TrangChu.html">TRANG CHỦ</a></li>
                  <li class="nav-item"><a href="GiaThamKhao.html">GIÁ THAM KHẢO</a></li>
                  <li class="nav-item"><a href="DanhChoPhuHuynh.html">DÀNH CHO PHỤ HUYNH</a></li>
                  <li class="nav-item"><a href="CacLopHienCo.html">CÁC LỚP HIỆN CÓ</a></li>
                  <li class="nav-item"><a href="GioiThieuGiaSu.html">GIỚI THIỆU GIA SƯ</a></li>
                  <li class="nav-item"><a href="YKien.html">Ý KIẾN</a></li>
                </ul>
              </nav>
              
            <div class="noidung">
                <h3 style="text-align: center; padding-top: 40px;  color:cornflowerblue">GIỚI THIỆU</h3>
                <img src="/Pic/ndtrangchu01.jpg" class="imgnd">
                <p>
                    - Trung tâm gia sư NDT đại diện là trung tâm dạy kèm, trung tâm gia sư chuyên tập trung, chọn lọc, tạo nguồn, đào tạo, cung cấp, giới thiệu nhân sự hoặc nhân sự có sẵn chuyên môn được đào tạo từ các trường ĐH sư phạm. <br>
                        + Chịu trách nhiệm phỏng vấn, quản lý chuyên môn và phương pháp giảng dạy của người đi dạy. <br>
                        + Ghi danh nhu cầu học của học sinh và phụ huynh. <br>
                        + Điều phối, kết nối gia sư với phụ huynh học sinh. <br>
                        + Quản lý chất lượng, tiến độ hiệu quả, chất lượng của việc dạy và học. <br>
                        + NDT cũng là đơn vị đại diện 1 trong các trung tâm gia sư TPHCM luôn luôn chịu trách nhiệm và can thiệp trong mọi vấn đề để mang lại lợi ích, công bằng cho cả gia sư và phụ huynh, học sinh. <br>
                </p>
                <img src="/Pic/ndtrangchu02.jpg" class="imgnd">
                <p>Trung tâm gia sư Tốt, đảm bảo chuyên môn, kinh nghiệm, phương pháp, thành tích đào tạo</p>
                <h5>Gia sư tốt</h5>
                <p>
                    - Gia sư tốt phải thể hiện là nơi: <br>

                    + Có nguồn gia sư có chất lượng, bằng cấp sư phạm rõ ràng, không gian lận, nói láo với phụ huynh học sinh và không định hướng đối tác gia sư nói láo, qua mặt phụ huynh và học sinh. <br>

                    + Dạy và học phải hiệu quả, thú vị, tiến bộ hàng ngày, hàng tháng, từng học kỳ và học sinh đỗ đạt đúng nguyện vọng 1, 2. <br>

                    + Kết quả của học sinh phải được chứng minh điểm số tốt (điểm 8, 9, 10). <br>

                    + Sự nghiêm túc trong công việc, gia sư có đạo đức tốt, có lòng tự trọng, sự khiêm tốn và khả năng giao tiếp nhã nhặn với khác hàng. <br>

                    + Tuyệt đối không tiếp tay với những học sinh có hành vi gian lận trong học tập, thi cử, rèn luyện chuyên môn, lối sống lành mạnh, đạo đức chuẩn mực. <br>

                    Sẽ không có một đơn vị nào ngay mới thành lập và hoạt động sẽ đạt ngay tiêu chí hay nhận được sự đánh giá từ phụ huynh là 1 gia sư TỐT. Vì thế, sau hơn 10 năm phấn đấu làm việc, sửa sai, rút kinh nghiệm làm việc, nâng cao chuyên môn mà từ đó Gia sư Thành Tài là nơi đã phấn đấu tập hợp đầy đủ tất cả những phẩm chất nêu trên và đạt mục tiêu là một gia sư tốt và uy tín hàng đầu tại TPHCM. <br>
                </p>
            </div>

            <div class="footer">
                <div class="footer container">
                    <h5>Liên hệ</h5>
                    <p>Email: trungtamgiasundt@gmail.com <br>
                    Số điện thoại: 0123456789 <br>
                    Địa chỉ: 1 Võ Văn Ngân, Linh Trung, Thủ Đức <br>
                    </p>
                    <div style="text-align: center; ">
                        <p>© 2023 Bản quyền thuộc về Nhóm 5 DACNTT</p>
                    
                    </div>
                </div>
                

            </div>
        
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>